body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: hsl(309.07deg 62.32% 27.06%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 27%;
    background-color: transparent; /* Changed background color to transparent */
    padding: 10px 0;
    border-radius: 8px; /* Changed to a specific value for consistency */
    margin-top: 20px; /* Adjusted margin for better positioning */
}

.page-header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

.logo a {
    text-decoration: none;
    color: yellow;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: yellow;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

form {
    color: white;
    width: 100%;
    max-width: 500px;
  background: hsl(309.07deg 62.32% 27.06%); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjusted box shadow */
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%; /* Adjusted input width for better responsiveness */
    padding: 10px; /* Adjusted padding for better appearance */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
   background: hsl(309.07deg 62.32% 27.06%);
    color:  white;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: hsl(309.07deg 62.32% 27.06%);
}

p {
    margin-top: 10px; /* Adjusted margin for better spacing */
    text-align: center;
}

p a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}
 .fg{
	margin-left:94px;
	color:red;
}

