<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
<link rel="stylesheet" th:href="@{/css/adminhome.css}">
<link rel="icon" href="https://i1.sndcdn.com/avatars-000923204566-t9r1ap-t240x240.jpg" type="image/x-icon">

</head>
<body>
     <header class="container">
         <div class="page-header">
            <div class="logo">
                <a href="index">TuneHub</a>
            </div>
            
            <ul>
                <li><a href="#" class="active" >🏠Home</a></li>
                 <li><a href="logout" > Logout</a></li>
            </ul>
        </div>
    </header>
    
<h3>Admin Home</h3>

<div class="container1"> 


<div class="sidebar">
            
            <a href="index" class="active">🏠Home</a>
            <a href="viewSong">👀 View Songs</a>
        <a href="viewPlaylist">📜 View Playlists</a>
        <a href="newSong">➕ Add a Song</a>
        <a href="createPlaylist">🎧 Create a Playlist</a>
        </div>
    <div class="admin">
    <h1>🎵 TuneHub Admin's Symphony 🎵</h1>
    <p>Greetings, Maestro! You wield the baton, conducting the expansive musical ensemble of TuneHub. Your guidance shapes the rhythmic cadence and harmonious melody of our platform. Let's weave enchantment together! 🎻</p>

    <h2>📰 Recent Loudening 📰</h2>
    <p>Our music library is a living, breathing entity, constantly evolving with new additions. Stay in rhythm with the latest harmonies and melodies that have been woven into our collection. 🎹</p>

    <h2>🌟 Featured Compositions 🌟</h2>
    <p>Every day, new stars are born on TuneHub. Discover the latest chart-toppers and crowd favorites that have been added to our platform. Who knows, you might find your next earworm here! 🎷</p>

    
</div>
</div>
</body>
</html>