<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css"> <!-- Corrected the link to the stylesheet -->
</head>
<body>
    
    <div class="container1"> <!-- Added the "container" class to the div -->
        <form action="validate" method="post">
            <h2>Login</h2>
            <label for="email">Username:</label> <input type="email" name="email" id="email"><br>
            <label for="password">Password :</label> <input type="password" name="password" id="password"><br>
            <br> <input id="b1"type="submit" value="Login">
            <p>
                Don't have an account <a href="/register">Register Here</a>
            </p>
            <a  class="fg" href="/forgotPassword">Forgot Password?</a>
        </form>
    </div>
    <script src="/javascript/gh.js"></script>
    
</body>
</html>